// 自定义字体
// noinspection CssUnknownTarget
@font-face {
  font-family: 'BgmFont';
  src: url("/android/font.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}


:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
  background: var(--surface-color);

  * {
    font-family: 'BgmFont', monospace;
    box-sizing: border-box;
    background: transparent;
    user-select: none;
    color: var(--on-surface-color);
  }
}

#app {
  height: 100%;
  width: 100%;
}

.w-0 {
  width: 0 !important;
}

.w-20 {
  width: 20% !important;
}

.w-25 {
  width: 25% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60 {
  width: 60% !important;
}

.h-0 {
  height: 0 !important;
}

.h-10 {
  height: 10% !important;
}

.h-40 {
  height: 40% !important;
}

.pointer {
  cursor: pointer !important;
}

.select-none {
  user-select: none !important;
}

.select-text {
  user-select: text !important;
}

pre {
  overflow-x: scroll !important;
  background: var(--surface-container-color);
  border-radius: 6px;
  padding: 12px;
  font-size: 80%;
  color: var(--primary-color);
  box-sizing: border-box;
}

// 表情
img[smileid] {
  vertical-align: text-bottom !important;
  width: auto !important;
  min-width: unset !important;
  border-radius: 0 !important;
  display: inline-block !important;
  object-fit: contain !important;
  border: none !important;
  margin-right: 4px;
  margin-left: 4px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

// 图片
img {
  display: block;
  max-width: 100%;
  flex-shrink: 0;
  height: auto;
  border-radius: 6px;
  margin: 12px 0;
  border: 1px var(--surface-container-color) solid;
}

// 引用块
.quote {
  font-size: 75%;
  margin: 6px 0;
  color: var(--on-surface-variant-color);
  opacity: 0.75;

  span {
    font-weight: bold;
    background: var(--surface-container-color);
    border-radius: 6px;
    padding: 2px 4px;
    font-size: 10px;
    color: var(--primary-color);
  }

  q:before {
    content: open-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: -22px;
    position: relative;
    top: 15px;
    font-size: 30px;
    letter-spacing: -18px;
    color: var(--on-surface-variant-color);
  }

  q::after {
    content: close-quote;
    display: inline;
    height: 0;
    line-height: 0;
    left: 3px;
    position: relative;
    top: 20px;
    font-size: 30px;
    color: var(--on-surface-variant-color);
  }
}

// 遮罩
.text_mask {
  color: var(--on-surface-variant-color) !important;
  background: var(--on-surface-variant-color) !important;
  margin-bottom: 4px;
  padding: 2px 4px 2px 4px;
  flex-shrink: 0;
  display: inline-block;
  border-radius: 6px !important;
  overflow: hidden;
  text-decoration: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  transition: color ease .2s;

  * {
    color: var(--on-surface-variant-color) !important;
    background: var(--on-surface-variant-color) !important;
  }
}

.text_mask.show {
  color: var(--surface-color) !important;

  * {
    color: var(--surface-color) !important;
  }

  a {
    color: var(--primary-color) !important;
    background: var(--surface-container-color) !important;
  }
}

a {
  outline: none;
  color: var(--primary-color) !important;
  margin-bottom: 4px;
  margin-top: 4px;
  background: var(--surface-container-color) !important;
  padding: 2px 6px 4px 6px;
  flex-shrink: 0;
  display: inline-block;
  border-radius: 6px !important;
  overflow: hidden;
  text-decoration: none;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}

// 分割线
.divider {
  height: 12px;
  background-color: var(--surface-container-color);
  width: 100%;
  margin-top: 24px;
  opacity: 0.75;
}


// 元素开始进入的状态 | 元素离开结束的状态
.run-enter-from,
.run-leave-to {
  opacity: 0;
}

// 元素进入结束的状态 ｜ 元素开始离开的状态。 这里不写也可以！！！！！！
.run-enter-to,
.run-leave-from {
  opacity: 1;
}

// 元素进入 ｜ 结束时，过渡的效果
.run-enter-active,
.run-leave-active {
  // 过渡动画的使用
  transition: opacity 0.2s linear;
}

// 点击评论定位闪动
.blinking {
  border-radius: 6px;
  animation: blinkAnimation 1s forwards;
}

@keyframes blinkAnimation {
  0% {
    background: transparent;
  }
  50% {
    background: #9999997f;
  }
  90% {
    background: transparent;
  }
  100% {
    background: transparent;
  }
}