.bgm_tv_smile_24 a {
    background-image: url(/img/smiles/tv/01.gif)
}

.bgm_tv_smile_25 a {
    background-image: url(/img/smiles/tv/02.gif)
}

.bgm_tv_smile_26 a {
    background-image: url(/img/smiles/tv/03.gif)
}

.bgm_tv_smile_27 a {
    background-image: url(/img/smiles/tv/04.gif)
}

.bgm_tv_smile_28 a {
    background-image: url(/img/smiles/tv/05.gif)
}

.bgm_tv_smile_29 a {
    background-image: url(/img/smiles/tv/06.gif)
}

.bgm_tv_smile_30 a {
    background-image: url(/img/smiles/tv/07.gif)
}

.bgm_tv_smile_31 a {
    background-image: url(/img/smiles/tv/08.gif)
}

.bgm_tv_smile_32 a {
    background-image: url(/img/smiles/tv/09.gif)
}

.bgm_tv_smile_33 a {
    background-image: url(/img/smiles/tv/10.gif)
}

.bgm_tv_smile_34 a {
    background-image: url(/img/smiles/tv/11.gif)
}

.bgm_tv_smile_35 a {
    background-image: url(/img/smiles/tv/12.gif)
}

.bgm_tv_smile_36 a {
    background-image: url(/img/smiles/tv/13.gif)
}

.bgm_tv_smile_37 a {
    background-image: url(/img/smiles/tv/14.gif)
}

.bgm_tv_smile_38 a {
    background-image: url(/img/smiles/tv/15.gif)
}

.bgm_tv_smile_39 a {
    background-image: url(/img/smiles/tv/16.gif)
}

.bgm_tv_smile_40 a {
    background-image: url(/img/smiles/tv/17.gif)
}

.bgm_tv_smile_41 a {
    background-image: url(/img/smiles/tv/18.gif)
}

.bgm_tv_smile_42 a {
    background-image: url(/img/smiles/tv/19.gif)
}

.bgm_tv_smile_43 a {
    background-image: url(/img/smiles/tv/20.gif)
}

.bgm_tv_smile_44 a {
    background-image: url(/img/smiles/tv/21.gif)
}

.bgm_tv_smile_45 a {
    background-image: url(/img/smiles/tv/22.gif)
}

.bgm_tv_smile_46 a {
    background-image: url(/img/smiles/tv/23.gif)
}

.bgm_tv_smile_47 a {
    background-image: url(/img/smiles/tv/24.gif)
}

.bgm_tv_smile_48 a {
    background-image: url(/img/smiles/tv/25.gif)
}

.bgm_tv_smile_49 a {
    background-image: url(/img/smiles/tv/26.gif)
}

.bgm_tv_smile_50 a {
    background-image: url(/img/smiles/tv/27.gif)
}

.bgm_tv_smile_51 a {
    background-image: url(/img/smiles/tv/28.gif)
}

.bgm_tv_smile_52 a {
    background-image: url(/img/smiles/tv/29.gif)
}

.bgm_tv_smile_53 a {
    background-image: url(/img/smiles/tv/30.gif)
}

.bgm_tv_smile_54 a {
    background-image: url(/img/smiles/tv/31.gif)
}

.bgm_tv_smile_55 a {
    background-image: url(/img/smiles/tv/32.gif)
}

.bgm_tv_smile_56 a {
    background-image: url(/img/smiles/tv/33.gif)
}

.bgm_tv_smile_57 a {
    background-image: url(/img/smiles/tv/34.gif)
}

.bgm_tv_smile_58 a {
    background-image: url(/img/smiles/tv/35.gif)
}

.bgm_tv_smile_59 a {
    background-image: url(/img/smiles/tv/36.gif)
}

.bgm_tv_smile_60 a {
    background-image: url(/img/smiles/tv/37.gif)
}

.bgm_tv_smile_61 a {
    background-image: url(/img/smiles/tv/38.gif)
}

.bgm_tv_smile_62 a {
    background-image: url(/img/smiles/tv/39.gif)
}

.bgm_tv_smile_63 a {
    background-image: url(/img/smiles/tv/40.gif)
}

.bgm_tv_smile_64 a {
    background-image: url(/img/smiles/tv/41.gif)
}

.bgm_tv_smile_65 a {
    background-image: url(/img/smiles/tv/42.gif)
}

.bgm_tv_smile_66 a {
    background-image: url(/img/smiles/tv/43.gif)
}

.bgm_tv_smile_67 a {
    background-image: url(/img/smiles/tv/44.gif)
}

.bgm_tv_smile_68 a {
    background-image: url(/img/smiles/tv/45.gif)
}

.bgm_tv_smile_69 a {
    background-image: url(/img/smiles/tv/46.gif)
}

.bgm_tv_smile_70 a {
    background-image: url(/img/smiles/tv/47.gif)
}

.bgm_tv_smile_71 a {
    background-image: url(/img/smiles/tv/48.gif)
}

.bgm_tv_smile_72 a {
    background-image: url(/img/smiles/tv/49.gif)
}

.bgm_tv_smile_73 a {
    background-image: url(/img/smiles/tv/50.gif)
}

.bgm_tv_smile_74 a {
    background-image: url(/img/smiles/tv/51.gif)
}

.bgm_tv_smile_75 a {
    background-image: url(/img/smiles/tv/52.gif)
}

.bgm_tv_smile_76 a {
    background-image: url(/img/smiles/tv/53.gif)
}

.bgm_tv_smile_77 a {
    background-image: url(/img/smiles/tv/54.gif)
}

.bgm_tv_smile_78 a {
    background-image: url(/img/smiles/tv/55.gif)
}

.bgm_tv_smile_79 a {
    background-image: url(/img/smiles/tv/56.gif)
}

.bgm_tv_smile_80 a {
    background-image: url(/img/smiles/tv/57.gif)
}

.bgm_tv_smile_81 a {
    background-image: url(/img/smiles/tv/58.gif)
}

.bgm_tv_smile_82 a {
    background-image: url(/img/smiles/tv/59.gif)
}

.bgm_tv_smile_83 a {
    background-image: url(/img/smiles/tv/60.gif)
}

.bgm_tv_smile_84 a {
    background-image: url(/img/smiles/tv/61.gif)
}

.bgm_tv_smile_85 a {
    background-image: url(/img/smiles/tv/62.gif)
}

.bgm_tv_smile_86 a {
    background-image: url(/img/smiles/tv/63.gif)
}

.bgm_tv_smile_87 a {
    background-image: url(/img/smiles/tv/64.gif)
}

.bgm_tv_smile_88 a {
    background-image: url(/img/smiles/tv/65.gif)
}

.bgm_tv_smile_89 a {
    background-image: url(/img/smiles/tv/66.gif)
}

.bgm_tv_smile_90 a {
    background-image: url(/img/smiles/tv/67.gif)
}

.bgm_tv_smile_91 a {
    background-image: url(/img/smiles/tv/68.gif)
}

.bgm_tv_smile_92 a {
    background-image: url(/img/smiles/tv/69.gif)
}

.bgm_tv_smile_93 a {
    background-image: url(/img/smiles/tv/70.gif)
}

.bgm_tv_smile_94 a {
    background-image: url(/img/smiles/tv/71.gif)
}

.bgm_tv_smile_95 a {
    background-image: url(/img/smiles/tv/72.gif)
}

.bgm_tv_smile_96 a {
    background-image: url(/img/smiles/tv/73.gif)
}

.bgm_tv_smile_97 a {
    background-image: url(/img/smiles/tv/74.gif)
}

.bgm_tv_smile_98 a {
    background-image: url(/img/smiles/tv/75.gif)
}

.bgm_tv_smile_99 a {
    background-image: url(/img/smiles/tv/76.gif)
}

.bgm_tv_smile_100 a {
    background-image: url(/img/smiles/tv/77.gif)
}

.bgm_tv_smile_101 a {
    background-image: url(/img/smiles/tv/78.gif)
}

.bgm_tv_smile_102 a {
    background-image: url(/img/smiles/tv/79.gif)
}

.bgm_tv_smile_103 a {
    background-image: url(/img/smiles/tv/80.gif)
}

.bgm_tv_smile_104 a {
    background-image: url(/img/smiles/tv/81.gif)
}

.bgm_tv_smile_105 a {
    background-image: url(/img/smiles/tv/82.gif)
}

.bgm_tv_smile_106 a {
    background-image: url(/img/smiles/tv/83.gif)
}

.bgm_tv_smile_107 a {
    background-image: url(/img/smiles/tv/84.gif)
}

.bgm_tv_smile_108 a {
    background-image: url(/img/smiles/tv/85.gif)
}

.bgm_tv_smile_109 a {
    background-image: url(/img/smiles/tv/86.gif)
}

.bgm_tv_smile_110 a {
    background-image: url(/img/smiles/tv/87.gif)
}

.bgm_tv_smile_111 a {
    background-image: url(/img/smiles/tv/88.gif)
}

.bgm_tv_smile_112 a {
    background-image: url(/img/smiles/tv/89.gif)
}

.bgm_tv_smile_113 a {
    background-image: url(/img/smiles/tv/90.gif)
}

.bgm_tv_smile_114 a {
    background-image: url(/img/smiles/tv/91.gif)
}

.bgm_tv_smile_115 a {
    background-image: url(/img/smiles/tv/92.gif)
}

.bgm_tv_smile_116 a {
    background-image: url(/img/smiles/tv/93.gif)
}

.bgm_tv_smile_117 a {
    background-image: url(/img/smiles/tv/94.gif)
}

.bgm_tv_smile_118 a {
    background-image: url(/img/smiles/tv/95.gif)
}

.bgm_tv_smile_119 a {
    background-image: url(/img/smiles/tv/96.gif)
}

.bgm_tv_smile_120 a {
    background-image: url(/img/smiles/tv/97.gif)
}

.bgm_tv_smile_121 a {
    background-image: url(/img/smiles/tv/98.gif)
}

.bgm_tv_smile_122 a {
    background-image: url(/img/smiles/tv/99.gif)
}

.bgm_tv_smile_123 a {
    background-image: url(/img/smiles/tv/100.gif)
}

.bgm_tv_smile_124 a {
    background-image: url(/img/smiles/tv/101.gif)
}

.bgm_tv_smile_125 a {
    background-image: url(/img/smiles/tv/102.gif)
}